{% load staticfiles %}
{% include 'workouts/source.html' %}
{% include 'workouts/navBar.html' %}

{% include 'workouts/graph.html' %}
<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
       <!-- Get header references from source -->
        {% block header%}
        {% endblock %}
</head>
  


<body >
    
{% block navBar%}
{% endblock %}

        
{% block content %}
{% endblock %}

<!-- forms and input -->



<!-- display historical data of user's excercise -->
{% block graph %}
{% endblock %}
</body>



</html>