{% include 'workouts/source.html' %}
<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
        {% block header%}
        {% endblock %}
        <style>
        .content-pos{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: center;
        }
        </style>
</head>
  

  

<header>
<ul>
    <li>Log In</li>
    <li>Sign Up</li>
</ul>
</header>

<body >
    <div style="justify-content: center;display: flex;"><h3>{{content}}</h3></div>
    <div class="content-pos">
        {% block content %}
        {% endblock %}
    </div>
</body>



</html>