{% extends 'workouts/base.html'%}

{% block content %}

    
<div class="basic-form">
  <form>
            First name:<br>
            <input type="text" name="firstname" value="Tom"><br>
            Last name:<br>
            <input type="text" name="lastname" value="Jarick"><br><br>
             
        <input class="hide" type="radio" name="gender" value="male" checked> Male<br>
        <input class="hide" type="radio" name="gender" value="female"> Female<br>
  
        <input type="submit" value="Submit">   
      </form>

<form>
        Duration<br>
        
        <input type="text" name="Duration" value="3min"><br>
        sets:<br>
        <input type="text" name="sets" value="3"><br><br>
        <input type="text" name="break" value="30s"><br><br>
    Excercise<br>    
    <input type="radio" name="excercise" value="push up" checked> Push Up<br>
    <input type="radio" name="excercise" value="female"> Sit Up<br>
    <input type="radio" name="excercise" value="other"> Other<br>
    <input type="submit" value="Submit">   
  </form>
</div>

{% endblock%}